*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:  'sans-serif', 'Balsamiq Sans';

scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
width: 1200px;
margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 1rem;
    
}

/* .navbar::before{
    content: "";
    position: absolute;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: blue;
    z-index: -1;
    opacity: 0.1;
} */

.logo{
    width: 80px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
  margin-left: -1.2rem;
  font-size: 28px;  

}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;

}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    
    
}

a{
    text-decoration: none;
    color: black;
    

}

.nav-items div:hover{
    transition: all 0.8s;
    font-weight: bold;
}


.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap:5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -17%;
    left: 6%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
font-size: 35px;
color:#343d68;
font-weight: 500;

}

.role{
    color: #4e45d5;
    font-weight: 800;
}


.hero-section-subheading{

    font-size: 45px;
    line-height: 45px;
}

.hero-section-discription{

    margin-top:1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink{
    position: relative;
    border-radius: 10px;
   width: 150px;
   color: black;
   background-color: red;
   font-size: 25px;
   text-align: center;
   box-shadow: 2px 2px 2px black;
}

.btn-pink:hover{    
   color: rgb(49, 48, 48);
   background-color: rgb(222, 81, 81);
   cursor: pointer;
}

.hero-section-right{
    position: relative;
    margin-right: 4rem;
}

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.0rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;

}

.user-image{
    z-index:-9;
}

@keyframes scaleImage{

0%{
    filter: grayscale(0);
    transform: scale(1);
}

50%{
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 3px 3px 10px black;
}

100%{
    transform: scale(1);
    filter: grayscale(0);
}

}


.icon-dots{
    z-index:9;
    bottom: -1rem;
    right: 0;
    animation-name: dotanimation ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotanimation{
0%{
    transform: translateY(0);
}
50%{
    transform: translateY(-15px);
}

100%{
    transform: translateY(0px);

}

}

.icon-cube{
    z-index: 9;
    top: 0.8em;
    right: 1em;
    animation-name: cuberotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes cuberotate{
    0%{
        transform: translateY(0) rotateY(0deg);;
         
    }
    50%{
        transform: translateY(-15px) rotateY(180deg);
    }
    
    100%{
        transform: translateY(0px) rotateY(360deg);
    
    }
}

.icon-circle{

    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name: shakeeffect;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes shakeeffect{
    0%{
        left: 0;
        bottom: 0;         
    }
    50%{
        left: 5%;
        bottom: 8%;
    }   
}

.icon-zigzag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation-name: zigzagffect;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes zigzagffect{
    
    50%{
        top: 2%;
        left: 5%;
    }   
}


.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation-name: shakeeffectplus;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count:infinite;
}

@keyframes shakeeffectplus{
    
    50%{
        top: 3%;
        left: 40%;
    }   
}

/* styling the project section */


.project-section{
    background-color: rgb(231, 231, 231);
    
    margin: 4rem;
    
}
.page-header{
    color: rgb(255, 98, 0);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
    
}


.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap:120px;

}

.project-card{
    width: 90%;
    height: 550px;
    background-image: url(images/projects/Project1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */

    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;


}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    /* transform: scaleX(1); */
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;

}
.project-card:hover::before{
    transform: scaleX(1);

}

.project-number{
position: absolute;
font-size: 170px;
font-weight: 600;
color: white;
z-index: 10;
opacity: 0;
}
.project-card:hover .project-number{
opacity: 1;
}

.project-number-right{
    right: -20px;
    top: -45;
}

.project-number-left{
    left: -10px;
    top: -45;
}

.project-content{
  position: absolute;
  display: flex;
  flex-direction: column;  
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1em;
  transition: all 0.4s;
}

.project-content-left{
    left: 10%;
}

.project-content-right{
    right: 10%;
}

.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill{
    width: 40px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;

}
.btn-grp{
    display:flex;
    gap: 0.9rem;
    align-items:center ;
    cursor: pointer;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition-duration: 0.4s;
}

.icon:hover{
    color: red;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}


#project1{
background: url(images/projects/Project1.png) no-repeat center center/cover;
}

#project2{
    background: url(images/projects/Project2.png)no-repeat center center/cover;
}



#project3{
        background: url(images/projects/Project3.png)no-repeat center center/cover;
}

#project4{
            background: url(images/projects/Project4.png)no-repeat center center/cover;
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.skill-container-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skill-fade-text{

    position: absolute;
    font-size: 13em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -36.5%;
    right: -12%;
    user-select: none;
    overflow-y: hidden;

}
.blob-style{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20%  -20%);
    animation: blobanimate 5s linear infinite;
    z-index: -5;
}

@keyframes blobanimate{
    50%{
        top: 30%;
        left:30%;
    }
}


.skills-logo{
    width: 90px;
    transition:all 0.3s ;

}

.skills-logo:hover{
    transform: scale(1.2);

}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: orangered;
    line-height: 50px;
}
.caps{
    font-size: 90px;
}

.skill-subheading{
    margin-top: 1rem;
    width: 100%;
    text-align: justify;
}


.contactus-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
}

#submit-btn{
    /* margin-left: 17px; */
    margin-top: 25px;
    margin-bottom: 25px;
    width: 250px;
    border: none;

}
#submit-btn:hover{
    scale: 0.9;
}
.submit-icon{
   padding: 0 1rem;
   font-size: 1.5rem; 
}

.contactus-heading{
    font-size: 4em;
    color: orangered;
    padding-top: 2rem;

}
.contactus-subheading{
    font-size: 2rem;
    color: #343d68aa;
    text-transform: capitalize;

}

.contactus-form-container{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}
.formfield-container{
    width: 100%;
}

.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border: none;
    margin-top: 17px;
}

.formfiled-textarea{
    height: auto;
    padding-top:1rem;

}
footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}
.footer-warpper{
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;  
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.link-wrapper{
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    gap: 1.2rem;
    
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover{
    color: orangered;
    text-decoration: none;
}

.icon-warpper{
    display: flex;
    position: absolute;
    top: 30%;
    right: 10%;
    gap: 1rem;
}