*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Balsamiq Sans', sans-serif;

scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
width: 1200px;
margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 1rem;
    
}

/* .navbar::before{
    content: "";
    position: absolute;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: blue;
    z-index: -1;
    opacity: 0.1;
} */

.logo{
    width: 80px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
  margin-left: -1.2rem;
  font-size: 28px;  

}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;

}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    
    
}

a{
    text-decoration: none;
    color: black;
    

}

.nav-items div:hover{
    transition: all 0.8s;
    font-weight: bold;
}